.sidebar{
    position: fixed;
    height: 100%;
	width: 200px;
	background: #04d1f5a8;
	transition: all 0.5s ease;
	display: flex; 
	flex-direction: column;
}

 .logo-details {
	height: 50px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	border-bottom: #111111;
	margin-bottom: 10px;
	cursor: pointer;
}

.sidebar li {
	text-align: center;
	align-items: center;
	list-style: none;
	height: 100px;
	width: 230px;
}

.sidebar .nav-links{
	margin: 10px;
	padding-inline-start: 0px;

}

.tengah{
	text-align: center;
}

.btn_login {
	align-items: center;
	justify-content: center;
	display: flex; 
	background-color: #2b5dff;
	width: 78%;
	height: 50px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	color: white;
    text-decoration: none;
}
.btn_tambah {
	align-items: center;
	justify-content: center;
	display: flex; 
	background-color: #2b5dff;
	width: 20%;
	height: 30px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	color: white;
    text-decoration: none;
}
.btn_login:hover {
	background-color: #3da2f5;
	color: #fff;
}
.containter{
	margin-left: 250px;
}
.jumbotron {
	display: flex;
	background-color: #0be7c3;
	border-radius: 20px;
	padding: 10px 10px 10px 20px ;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: 230px;
}

.table-data {
	
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	border-radius: 10px;
}
th {
	border: 1px solid #080808;
	background-color: #14e942;
}
td {
	border: 1px solid black;
	padding: 10px 30px;
}
.card {
	display: flex;
	flex-direction: column;
	width: 30%;
    background-color: #61c0ec;
	box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 5px 1px 20px 20px ;
	text-align: justify;
    margin: 50px 50px 30px 40px;
    justify-content: center;
}
.form-login {
	display: flex;  
	flex-direction: column;
	width: 93%;
	background-color: rgb(32, 192, 241);
	padding: 30px;
	box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.15);
	border-radius: 10px; 
}

.card2 {
	display: flex;
	flex-direction: column;
	width: 40%;
    background-color: #f4f7f8;
	box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 5px 1px 20px 20px ;
	text-align: justify;
    margin: 40px 50px 20px 5px;
    justify-content: center;
}

.btn_input {
	
	justify-content: center;
	display: flex; 
	background-color: #2b5dff;
	width: 20%;
	height: 50%;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	color: white;
    text-decoration: none;
	
}
.btn_input:hover{
	background-color: #3da2f5;
	color: #fff;
}

input[type="text"] {
	width: 90%;
	margin: 30px;

}

/* Responsive Media Query */
@media (max-width: 1240px) {
	.sidebar {
		width: 30%;
	}
	.sidebar.active {
		width: 220px;
	}
}

@media (max-width: 550px) {
	.profile-details {
		display: none !important;
	}
}
@media (max-width: 400px) {
	.sidebar {
		width: 0;
	}
	.sidebar.active {
		width: 60px;
	}
	.btn_login{
		width:60px
	}
	.home-section {
		width: 100%;
		left: 0;
	}
	.sidebar.active ~ .home-section {
		left: 60px;
		width: calc(100% - 60px);
	}

	.sidebar.active ~ .home-section nav {
		left: 60px;
		width: calc(100% - 60px);
	}
}
